

.share-wrapper {
    background: url('../assets/img/share-bg.jpg') no-repeat;
    background-position: 0px 0px;  
    background-size: cover;
}

/* Share Banner Component Styles */

.banner-share p {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.banner-share h2 {
    margin-bottom: 0px;
}

.banner-share h3 {
    font-size: 1.3em;
    margin-top: 10px;
    font-weight: 300;
}

.share-link-group {
    margin-top: 20px;
}

.copy-wrapper {
    position: absolute;
    right: 11px;
    top: 1px;
    background: #fff;
    color: #e65112;
    padding: 11px 12px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

span.copy-link {
    cursor: pointer;
}

span.copied-link {
    position: absolute;
    left: 5px;
    background: #fff;
    padding: 0px 25px;
}

.share-link-group input {
    text-align: center;
    padding: 22px 10px;
    font-size: 13px
}

.share-link-group input:focus {
    outline: none;
    box-shadow: none;
}

.social-share {
    text-align: center;
}

.SocialMediaShareButton {
    display: inline-block;
    margin: 0px 7px;
    cursor: pointer;
    margin-top: 5px;
}

.SocialMediaShareButton:focus {
    outline: 0;
}

/* Share Banner Component End */

/* Share Message Component */

.share-message {
    margin-top: 55px;
}

.share-message-container {
    background: #fff;
    box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.12);
    border: 1px solid #7B1FA2;
    border-left: 1px solid #AF3B632;
    border-bottom: 1px solid #D95130;
    border-right: 1px solid #A5356E;
    margin-bottom: 15px;
    position: relative;
}

.share-message-inner {
    padding: 13% 10%;
}

.decor {
   display: none;
}
@media (min-width: 992px) {
    .decor {
        opacity: 0.6;
        display: block;
    }

    .share-message-container img {
        position: absolute;
    }
    
    img.purp-oval {
        top: 20px;
        left: 26px;
        opacity: 0.6;
        animation: pop 1.45s ease-out alternate ;
    }
    
    img.purp-line {
        top: 32px;
        right: 21px;
        opacity: 0.6;
        animation: pop 1.45s ease-out alternate;
    }
    
    img.gold-oval {
        bottom: 21px;
        right: 33px;
        opacity: 0.6;
        animation: pop 1.45s ease-out alternate;
    }
    
    img.aqua-line {
        bottom: 28px;
        left: 30px;
        opacity: 0.6; 
        animation: pop 1.45s ease-out alternate;
    }
}


@keyframes pop {
    0%   {transform: scale(0.5); opacity: 0;}
    100% {transform: scale(1); opacity: 0.6;}
}


.share-message-inner p {
    font-size: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   
}

.share-message-inner p span {
    font-weight: 700;
}

.share-message-inner p span.userName {
    color: #EC5A1C;
}

.share-message-inner p span.recieverName {
    color: #EC5A1C;
}

.share-message-inner p span.messsage {
    font-weight: 400;
    color: #198A8B;
    font-size: 1.5em;
}




.return-favor {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.btn-ghost {
    background: none;
    border-radius: 20px;
    border: 1px solid #7B1FA2;
    color: #7B1FA2;
    padding: 15px 70px;
    border-radius: 30px;
}


.btn-ghost:hover {
    background: #7B1FA2;
    color: #fff;
}
a {
    transition: all .30s ease-in;
}
a.return-link:hover {
    color: #fff;
    text-decoration: none;
}

